# Ignore all contents in the specified 'data' subdirectories
data/bundesliga/*
data/laliga/*
data/ligue1/*
data/premierleague/*
data/seriea/*

# Allow the subdirectories themselves to be tracked
!data/bundesliga/
!data/laliga/
!data/ligue1/
!data/premierleague/
!data/seriea/

# Ignore the specific script file
ScrapeAndSave.py
